
@{
    ViewBag.Title = "Index";
}


@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        var $rows = $('#table tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>
}


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Empleados</h2>
        </div>
        

        <div class="col-md-12">
            <br />
            <div class=" row col-md-4 form-inline pull-right">
                <input type="text" id="search" class="form-control" placeholder="Buscar" />
                <i class="glyphicon glyphicon-search"></i>
                <br />
                <br />
            </div>

            <table class="table table-hover table-responsive" id="table">
                <thead class="label-default" style="color:white;">
                    <tr>
                        <th>Id Empleado</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Departamento</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>Richard D.</td>
                        <td>Casado A.</td>
                        <td>Tecnologia</td>
                        <td>Calle 5 esq 8.</td>
                        <td>8095557485</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Details", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>Fulkencia</td>
                        <td>Martinez</td>
                        <td>R.R.H.H</td>
                        <td>Calle 7 esq 8.</td>
                        <td>8095559685</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Index", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                    <tr>
                        <td>102</td>
                        <td>Fulkencio</td>
                        <td>Rodriguez</td>
                        <td>Recepcion</td>
                        <td>Calle 9 esq 8.</td>
                        <td>8095553625</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Index", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                    <tr>
                        <td>103</td>
                        <td>Hubieres</td>
                        <td>Baez</td>
                        <td>Tecnologia</td>
                        <td>Calle 10 esq 8.</td>
                        <td>8095551425</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Index", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td>Danilo</td>
                        <td>Fernandez</td>
                        <td>Financiero</td>
                        <td>Calle 12 esq 8.</td>
                        <td>8095557414</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Index", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                    <tr>
                        <td>105</td>
                        <td>Pedro</td>
                        <td>Guillen</td>
                        <td>Encargado de Tecnologia</td>
                        <td>Calle C</td>
                        <td>8095558525</td>
                        <td>
                            @Html.ActionLink(" Ver Datos", "Index", "Employee", null, new { @class = "btn btn-primary", style = "height:33px" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>